<section class="acerca-de" id="acerca-de">
    <div class="container">
        <div class="foto">
            <img src="assets/img/acerca-de.jpg" alt="Fotografia Restaurant">
        </div>
        <article>
            <h3>Acerca de</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                <br>
                Vero assumenda voluptate alias ratione minus cum, aliquam architecto voluptatum hic non cupiditate rerum debitis iusto, omnis, amet nostrum ipsam impedit sed.
                <br><br>
                Vero assumenda voluptate alias ratione minus cum, aliquam architecto voluptatum hic non cupiditate rerum debitis iusto, omnis, amet nostrum ipsam impedit sed.
            </p>
        </article>
        
    </div>
</section>